<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>Image</key>
		<string>1</string>
		<key>Name</key>
		<string>Abaddon</string>
		<key>Attribute</key>
		<string>Strength</string>
	</dict>
	<dict>
		<key>Image</key>
		<string>2</string>
		<key>Name</key>
		<string>Alchemist</string>
		<key>Attribute</key>
		<string>Strength</string>
	</dict>
	<dict>
		<key>Image</key>
		<string>3</string>
		<key>Name</key>
		<string>Axe</string>
		<key>Attribute</key>
		<string>Strength</string>
	</dict>
	<dict>
		<key>Image</key>
		<string>4</string>
		<key>Name</key>
		<string>Beastmaster</string>
		<key>Attribute</key>
		<string>Strength</string>
	</dict>
	<dict>
		<key>Image</key>
		<string>5</string>
		<key>Name</key>
		<string>Brewmaster</string>
		<key>Attribute</key>
		<string>Strength</string>
	</dict>
	<dict>
		<key>Image</key>
		<string>6</string>
		<key>Name</key>
		<string>BirstleBack</string>
		<key>Attribute</key>
		<string>Strength</string>
	</dict>
	<dict>
		<key>Image</key>
		<string>7</string>
		<key>Name</key>
		<string>Centaur Warrunner</string>
		<key>Attribute</key>
		<string>Strength</string>
	</dict>
	<dict>
		<key>Image</key>
		<string>8</string>
		<key>Name</key>
		<string>Chaos knight</string>
		<key>Attribute</key>
		<string>Strength</string>
	</dict>
	<dict>
		<key>Image</key>
		<string>9</string>
		<key>Name</key>
		<string>Clockwerk</string>
		<key>Attribute</key>
		<string>Strength</string>
	</dict>
	<dict>
		<key>Image</key>
		<string>10</string>
		<key>Name</key>
		<string>Doom</string>
		<key>Attribute</key>
		<string>Strength</string>
	</dict>
	<dict>
		<key>Image</key>
		<string>11</string>
		<key>Name</key>
		<string>Dragon Knight</string>
		<key>Attribute</key>
		<string>Strength</string>
	</dict>
	<dict>
		<key>Image</key>
		<string>12</string>
		<key>Name</key>
		<string>Earth Spirit</string>
		<key>Attribute</key>
		<string>Strength</string>
	</dict>
	<dict>
		<key>Image</key>
		<string>13</string>
		<key>Name</key>
		<string>Earthshaker</string>
		<key>Attribute</key>
		<string>Strength</string>
	</dict>
	<dict>
		<key>Image</key>
		<string>14</string>
		<key>Name</key>
		<string>Elder Titan</string>
		<key>Attribute</key>
		<string>Strength</string>
	</dict>
	<dict>
		<key>Image</key>
		<string>15</string>
		<key>Name</key>
		<string>Husker</string>
		<key>Attribute</key>
		<string>Strength</string>
	</dict>
	<dict>
		<key>Image</key>
		<string>16</string>
		<key>Name</key>
		<string>Io</string>
		<key>Attribute</key>
		<string>Strength</string>
	</dict>
	<dict>
		<key>Image</key>
		<string>17</string>
		<key>Name</key>
		<string>Kunkka</string>
		<key>Attribute</key>
		<string>Strength</string>
	</dict>
	<dict>
		<key>Image</key>
		<string>18</string>
		<key>Name</key>
		<string>Legion Commander</string>
		<key>Attribute</key>
		<string>Strength</string>
	</dict>
	<dict>
		<key>Image</key>
		<string>19</string>
		<key>Name</key>
		<string>Lifestealer</string>
		<key>Attribute</key>
		<string>Strength</string>
	</dict>
	<dict>
		<key>Image</key>
		<string>20</string>
		<key>Name</key>
		<string>Lycan</string>
		<key>Attribute</key>
		<string>Strength</string>
	</dict>
	<dict>
		<key>Image</key>
		<string>21</string>
		<key>Name</key>
		<string>Magnus</string>
		<key>Attribute</key>
		<string>Strength</string>
	</dict>
	<dict>
		<key>Image</key>
		<string>22</string>
		<key>Name</key>
		<string>Knight Stalker</string>
		<key>Attribute</key>
		<string>Strength</string>
	</dict>
	<dict>
		<key>Image</key>
		<string>23</string>
		<key>Name</key>
		<string>Omniknight</string>
		<key>Attribute</key>
		<string>Strength</string>
	</dict>
	<dict>
		<key>Image</key>
		<string>24</string>
		<key>Name</key>
		<string>Phoenix</string>
		<key>Attribute</key>
		<string>Strength</string>
	</dict>
	<dict>
		<key>Image</key>
		<string>25</string>
		<key>Name</key>
		<string>Pudge</string>
		<key>Attribute</key>
		<string>Strength</string>
	</dict>
	<dict>
		<key>Image</key>
		<string>26</string>
		<key>Name</key>
		<string>Sand King</string>
		<key>Attribute</key>
		<string>Strength</string>
	</dict>
	<dict>
		<key>Image</key>
		<string>27</string>
		<key>Name</key>
		<string>Slardar</string>
		<key>Attribute</key>
		<string>Strength</string>
	</dict>
	<dict>
		<key>Image</key>
		<string>28</string>
		<key>Name</key>
		<string>Spirit Breaker</string>
		<key>Attribute</key>
		<string>Strength</string>
	</dict>
	<dict>
		<key>Image</key>
		<string>29</string>
		<key>Name</key>
		<string>Sven</string>
		<key>Attribute</key>
		<string>Strength</string>
	</dict>
	<dict>
		<key>Image</key>
		<string>30</string>
		<key>Name</key>
		<string>Tidehunter</string>
		<key>Attribute</key>
		<string>Strength</string>
	</dict>
	<dict>
		<key>Image</key>
		<string>31</string>
		<key>Name</key>
		<string>Timbersaw</string>
		<key>Attribute</key>
		<string>Strength</string>
	</dict>
	<dict>
		<key>Image</key>
		<string>32</string>
		<key>Name</key>
		<string>Tiny</string>
		<key>Attribute</key>
		<string>Strength</string>
	</dict>
	<dict>
		<key>Image</key>
		<string>33</string>
		<key>Name</key>
		<string>Treant Protector</string>
		<key>Attribute</key>
		<string>Strength</string>
	</dict>
	<dict>
		<key>Image</key>
		<string>34</string>
		<key>Name</key>
		<string>Tusk</string>
		<key>Attribute</key>
		<string>Strength</string>
	</dict>
	<dict>
		<key>Image</key>
		<string>35</string>
		<key>Name</key>
		<string>Pitlord</string>
		<key>Attribute</key>
		<string>Strength</string>
	</dict>
	<dict>
		<key>Image</key>
		<string>36</string>
		<key>Name</key>
		<string>Undying</string>
		<key>Attribute</key>
		<string>Strength</string>
	</dict>
	<dict>
		<key>Image</key>
		<string>37</string>
		<key>Name</key>
		<string>Wraith King</string>
		<key>Attribute</key>
		<string>Strength</string>
	</dict>
	<dict>
		<key>Image</key>
		<string>38</string>
		<key>Name</key>
		<string>Anti Mage</string>
		<key>Attribute</key>
		<string>Agility</string>
	</dict>
	<dict>
		<key>Image</key>
		<string>39</string>
		<key>Name</key>
		<string>Arc Warden</string>
		<key>Attribute</key>
		<string>Agility</string>
	</dict>
	<dict>
		<key>Image</key>
		<string>40</string>
		<key>Name</key>
		<string>Bloodseeker</string>
		<key>Attribute</key>
		<string>Agility</string>
	</dict>
	<dict>
		<key>Image</key>
		<string>41</string>
		<key>Name</key>
		<string>Bounty Hunter</string>
		<key>Attribute</key>
		<string>Agility</string>
	</dict>
	<dict>
		<key>Image</key>
		<string>42</string>
		<key>Name</key>
		<string>Broodmother</string>
		<key>Attribute</key>
		<string>Agility</string>
	</dict>
	<dict>
		<key>Image</key>
		<string>43</string>
		<key>Name</key>
		<string>Clinkz</string>
		<key>Attribute</key>
		<string>Agility</string>
	</dict>
	<dict>
		<key>Image</key>
		<string>44</string>
		<key>Name</key>
		<string>Drow Ranger</string>
		<key>Attribute</key>
		<string>Agility</string>
	</dict>
	<dict>
		<key>Image</key>
		<string>45</string>
		<key>Name</key>
		<string>Ember Spirit</string>
		<key>Attribute</key>
		<string>Agility</string>
	</dict>
	<dict>
		<key>Image</key>
		<string>46</string>
		<key>Name</key>
		<string>Faceless Void</string>
		<key>Attribute</key>
		<string>Agility</string>
	</dict>
	<dict>
		<key>Image</key>
		<string>47</string>
		<key>Name</key>
		<string>Gyrocopter</string>
		<key>Attribute</key>
		<string>Agility</string>
	</dict>
	<dict>
		<key>Image</key>
		<string>48</string>
		<key>Name</key>
		<string>Juggernaut</string>
		<key>Attribute</key>
		<string>Agility</string>
	</dict>
	<dict>
		<key>Image</key>
		<string>49</string>
		<key>Name</key>
		<string>Lond Druid</string>
		<key>Attribute</key>
		<string>Agility</string>
	</dict>
	<dict>
		<key>Image</key>
		<string>50</string>
		<key>Name</key>
		<string>Luna</string>
		<key>Attribute</key>
		<string>Agility</string>
	</dict>
	<dict>
		<key>Image</key>
		<string>51</string>
		<key>Name</key>
		<string>Medusa</string>
		<key>Attribute</key>
		<string>Agility</string>
	</dict>
	<dict>
		<key>Image</key>
		<string>52</string>
		<key>Name</key>
		<string>Meepo</string>
		<key>Attribute</key>
		<string>Agility</string>
	</dict>
	<dict>
		<key>Image</key>
		<string>53</string>
		<key>Name</key>
		<string>Mirana</string>
		<key>Attribute</key>
		<string>Agility</string>
	</dict>
	<dict>
		<key>Image</key>
		<string>54</string>
		<key>Name</key>
		<string>Monkey King</string>
		<key>Attribute</key>
		<string>Agility</string>
	</dict>
	<dict>
		<key>Image</key>
		<string>55</string>
		<key>Name</key>
		<string>Morphling</string>
		<key>Attribute</key>
		<string>Agility</string>
	</dict>
	<dict>
		<key>Image</key>
		<string>56</string>
		<key>Name</key>
		<string>Naga Siren</string>
		<key>Attribute</key>
		<string>Agility</string>
	</dict>
	<dict>
		<key>Image</key>
		<string>57</string>
		<key>Name</key>
		<string>Nyx Assassin</string>
		<key>Attribute</key>
		<string>Agility</string>
	</dict>
	<dict>
		<key>Image</key>
		<string>58</string>
		<key>Name</key>
		<string>Pangolier</string>
		<key>Attribute</key>
		<string>Agility</string>
	</dict>
	<dict>
		<key>Image</key>
		<string>59</string>
		<key>Name</key>
		<string>Phantom Assassin</string>
		<key>Attribute</key>
		<string>Agility</string>
	</dict>
	<dict>
		<key>Image</key>
		<string>60</string>
		<key>Name</key>
		<string>Phantom Lancer</string>
		<key>Attribute</key>
		<string>Agility</string>
	</dict>
	<dict>
		<key>Image</key>
		<string>61</string>
		<key>Name</key>
		<string>Razor</string>
		<key>Attribute</key>
		<string>Agility</string>
	</dict>
	<dict>
		<key>Image</key>
		<string>62</string>
		<key>Name</key>
		<string>Riki</string>
		<key>Attribute</key>
		<string>Agility</string>
	</dict>
	<dict>
		<key>Image</key>
		<string>63</string>
		<key>Name</key>
		<string>Shadow Fiend</string>
		<key>Attribute</key>
		<string>Agility</string>
	</dict>
	<dict>
		<key>Image</key>
		<string>64</string>
		<key>Name</key>
		<string>Slark</string>
		<key>Attribute</key>
		<string>Agility</string>
	</dict>
	<dict>
		<key>Image</key>
		<string>65</string>
		<key>Name</key>
		<string>Sniper</string>
		<key>Attribute</key>
		<string>Agility</string>
	</dict>
	<dict>
		<key>Image</key>
		<string>66</string>
		<key>Name</key>
		<string>Sepctre</string>
		<key>Attribute</key>
		<string>Agility</string>
	</dict>
	<dict>
		<key>Image</key>
		<string>67</string>
		<key>Name</key>
		<string>Templar Assassin</string>
		<key>Attribute</key>
		<string>Agility</string>
	</dict>
	<dict>
		<key>Image</key>
		<string>68</string>
		<key>Name</key>
		<string>Terrorblade</string>
		<key>Attribute</key>
		<string>Agility</string>
	</dict>
	<dict>
		<key>Image</key>
		<string>69</string>
		<key>Name</key>
		<string> Troll Warlord</string>
		<key>Attribute</key>
		<string>Agility</string>
	</dict>
	<dict>
		<key>Image</key>
		<string>70</string>
		<key>Name</key>
		<string>Ursa</string>
		<key>Attribute</key>
		<string>Agility</string>
	</dict>
	<dict>
		<key>Image</key>
		<string>71</string>
		<key>Name</key>
		<string>Vengeful Spirit</string>
		<key>Attribute</key>
		<string>Agility</string>
	</dict>
	<dict>
		<key>Image</key>
		<string>72</string>
		<key>Name</key>
		<string>Venomancer</string>
		<key>Attribute</key>
		<string>Agility</string>
	</dict>
	<dict>
		<key>Image</key>
		<string>73</string>
		<key>Name</key>
		<string>Viper</string>
		<key>Attribute</key>
		<string>Agility</string>
	</dict>
	<dict>
		<key>Image</key>
		<string>74</string>
		<key>Name</key>
		<string>Weaver</string>
		<key>Attribute</key>
		<string>Agility</string>
	</dict>
	<dict>
		<key>Image</key>
		<string>75</string>
		<key>Name</key>
		<string>Ancient Apparition</string>
		<key>Attribute</key>
		<string>Intelligence</string>
	</dict>
	<dict>
		<key>Image</key>
		<string>76</string>
		<key>Name</key>
		<string>Weaver</string>
		<key>Attribute</key>
		<string>Bane</string>
	</dict>
	<dict>
		<key>Image</key>
		<string>77</string>
		<key>Name</key>
		<string>Batrider</string>
		<key>Attribute</key>
		<string>Intelligence</string>
	</dict>
	<dict>
		<key>Image</key>
		<string>78</string>
		<key>Name</key>
		<string>Chen</string>
		<key>Attribute</key>
		<string>Intelligence</string>
	</dict>
	<dict>
		<key>Image</key>
		<string>79</string>
		<key>Name</key>
		<string>Crystal Maiden</string>
		<key>Attribute</key>
		<string>Intelligence</string>
	</dict>
	<dict>
		<key>Image</key>
		<string>80</string>
		<key>Name</key>
		<string>Dark Seer</string>
		<key>Attribute</key>
		<string>Intelligence</string>
	</dict>
	<dict>
		<key>Image</key>
		<string>81</string>
		<key>Name</key>
		<string>Dark Willow</string>
		<key>Attribute</key>
		<string>Intelligence</string>
	</dict>
	<dict>
		<key>Image</key>
		<string>82</string>
		<key>Name</key>
		<string>Dazzle</string>
		<key>Attribute</key>
		<string>Intelligence</string>
	</dict>
	<dict>
		<key>Image</key>
		<string>83</string>
		<key>Name</key>
		<string>Death Prophet</string>
		<key>Attribute</key>
		<string>Intelligence</string>
	</dict>
	<dict>
		<key>Image</key>
		<string>84</string>
		<key>Name</key>
		<string>Disruptor</string>
		<key>Attribute</key>
		<string>Intelligence</string>
	</dict>
	<dict>
		<key>Image</key>
		<string>85</string>
		<key>Name</key>
		<string>Enchantress</string>
		<key>Attribute</key>
		<string>Intelligence</string>
	</dict>
	<dict>
		<key>Image</key>
		<string>86</string>
		<key>Name</key>
		<string>Enigma</string>
		<key>Attribute</key>
		<string>Intelligence</string>
	</dict>
	<dict>
		<key>Image</key>
		<string>87</string>
		<key>Name</key>
		<string>Invoker</string>
		<key>Attribute</key>
		<string>Intelligence</string>
	</dict>
	<dict>
		<key>Image</key>
		<string>88</string>
		<key>Name</key>
		<string>Jakiro</string>
		<key>Attribute</key>
		<string>Intelligence</string>
	</dict>
	<dict>
		<key>Image</key>
		<string>89</string>
		<key>Name</key>
		<string>Keeper of the Light</string>
		<key>Attribute</key>
		<string>Intelligence</string>
	</dict>
	<dict>
		<key>Image</key>
		<string>90</string>
		<key>Name</key>
		<string>Leshrac</string>
		<key>Attribute</key>
		<string>Intelligence</string>
	</dict>
	<dict>
		<key>Image</key>
		<string>91</string>
		<key>Name</key>
		<string>Lich</string>
		<key>Attribute</key>
		<string>Intelligence</string>
	</dict>
	<dict>
		<key>Image</key>
		<string>92</string>
		<key>Name</key>
		<string>Lina</string>
		<key>Attribute</key>
		<string>Intelligence</string>
	</dict>
	<dict>
		<key>Image</key>
		<string>93</string>
		<key>Name</key>
		<string>Lion</string>
		<key>Attribute</key>
		<string>Intelligence</string>
	</dict>
	<dict>
		<key>Image</key>
		<string>94</string>
		<key>Name</key>
		<string>Nature&apos;s Prophet</string>
		<key>Attribute</key>
		<string>Intelligence</string>
	</dict>
	<dict>
		<key>Image</key>
		<string>95</string>
		<key>Name</key>
		<string>Necrophos</string>
		<key>Attribute</key>
		<string>Intelligence</string>
	</dict>
	<dict>
		<key>Image</key>
		<string>96</string>
		<key>Name</key>
		<string>Ogre Magi</string>
		<key>Attribute</key>
		<string>Intelligence</string>
	</dict>
	<dict>
		<key>Image</key>
		<string>97</string>
		<key>Name</key>
		<string>Oracle</string>
		<key>Attribute</key>
		<string>Intelligence</string>
	</dict>
	<dict>
		<key>Image</key>
		<string>98</string>
		<key>Name</key>
		<string>Outworld Devourer</string>
		<key>Attribute</key>
		<string>Intelligence</string>
	</dict>
	<dict>
		<key>Image</key>
		<string>99</string>
		<key>Name</key>
		<string>Puck</string>
		<key>Attribute</key>
		<string>Intelligence</string>
	</dict>
	<dict>
		<key>Image</key>
		<string>100</string>
		<key>Name</key>
		<string>Pugna</string>
		<key>Attribute</key>
		<string>Intelligence</string>
	</dict>
	<dict>
		<key>Image</key>
		<string>101</string>
		<key>Name</key>
		<string>Queen of Pain</string>
		<key>Attribute</key>
		<string>Intelligence</string>
	</dict>
	<dict>
		<key>Image</key>
		<string>102</string>
		<key>Name</key>
		<string>Rubick</string>
		<key>Attribute</key>
		<string>Intelligence</string>
	</dict>
	<dict>
		<key>Image</key>
		<string>103</string>
		<key>Name</key>
		<string>Shadow Demon</string>
		<key>Attribute</key>
		<string>Intelligence</string>
	</dict>
	<dict>
		<key>Image</key>
		<string>104</string>
		<key>Name</key>
		<string>Shadow Shaman</string>
		<key>Attribute</key>
		<string>Intelligence</string>
	</dict>
	<dict>
		<key>Image</key>
		<string>105</string>
		<key>Name</key>
		<string>Sliencer</string>
		<key>Attribute</key>
		<string>Intelligence</string>
	</dict>
	<dict>
		<key>Image</key>
		<string>106</string>
		<key>Name</key>
		<string>Skywrath Mage</string>
		<key>Attribute</key>
		<string>Intelligence</string>
	</dict>
	<dict>
		<key>Image</key>
		<string>107</string>
		<key>Name</key>
		<string>Storm Spirit</string>
		<key>Attribute</key>
		<string>Intelligence</string>
	</dict>
	<dict>
		<key>Image</key>
		<string>108</string>
		<key>Name</key>
		<string>Techies</string>
		<key>Attribute</key>
		<string>Intelligence</string>
	</dict>
	<dict>
		<key>Image</key>
		<string>109</string>
		<key>Name</key>
		<string>Tinker</string>
		<key>Attribute</key>
		<string>Intelligence</string>
	</dict>
	<dict>
		<key>Image</key>
		<string>110</string>
		<key>Name</key>
		<string>Visage</string>
		<key>Attribute</key>
		<string>Intelligence</string>
	</dict>
	<dict>
		<key>Image</key>
		<string>111</string>
		<key>Name</key>
		<string>Warlock</string>
		<key>Attribute</key>
		<string>Intelligence</string>
	</dict>
	<dict>
		<key>Image</key>
		<string>112</string>
		<key>Name</key>
		<string>Windranger</string>
		<key>Attribute</key>
		<string>Intelligence</string>
	</dict>
	<dict>
		<key>Image</key>
		<string>113</string>
		<key>Name</key>
		<string>Winter Wyvern</string>
		<key>Attribute</key>
		<string>Intelligence</string>
	</dict>
	<dict>
		<key>Image</key>
		<string>114</string>
		<key>Name</key>
		<string>Witch Doctor</string>
		<key>Attribute</key>
		<string>Intelligence</string>
	</dict>
	<dict>
		<key>Image</key>
		<string>115</string>
		<key>Name</key>
		<string>Zeus</string>
		<key>Attribute</key>
		<string>Intelligence</string>
	</dict>
</array>
</plist>
